@import url('https://fonts.googleapis.com/css?family=Inconsolata');

colors {
    background-color: #1b1b1b;
    fill: #2e2e2e;
    accent-color: #76da84;
    /* #3f765a
    #1e3b2f
    #e3e3e3 */

}

body {
    background-color: #1b1b1b;
    margin: 0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    color: #e3e3e3;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    color: #e3e3e3;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.17em;
    color: #e3e3e3;
}

h4 {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    color: #e3e3e3;
}

h5 {
    font-family: 'Inconsolata', monospace;
    font-size: 0.83em;
    color: #e3e3e3;
}

h6 {
    font-family: 'Inconsolata', monospace;
    font-size: 0.75em;
    color: #e3e3e3;
}

p {
    font-family: 'Inconsolata', bold;
    color: #e3e3e3;
}

.hoverThis:hover {
    color: #76da84;
  }

.accent {
    color: #76da84;
}

.header {
/* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    gap: 128px;

    /*width: 100%;*/
    height: 64px;

    background: #1B1B1B;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
}

.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    gap: 128px;

    height: 720px;
    width: 100%;

    background: #2e2e2e;

    
}

/* Illustrations */
.landingImages {
    width: 696.38px;
    height: 735px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


    /* Group 14 */

    position: absolute;
    width: 696.38px;
    height: 735px;
    left: 704.25px;
    top: -7.5px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titleCardText {
    /* Hi text */
    width: 448.25px;
    height: 157.5px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

    /* lastCoyotes */
.nameText {
    position: absolute;
    width: 352px;
    height: 134px;
    left: 120px;
    top: 281.25px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 67px;

    color: #76DA84;
}


/* Software Developer */
.sde {
    position: absolute;
    width: 360px;
    height: 42px;
    left: 120.12px;
    top: 361.5px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    /* identical to box height */

    color: #E3E3E3;
}

.blurbText {
/* Lorem Ipsum */

    position: absolute;
    width: 448px;
    height: 21px;
    left: 120.25px;
    top: 417.75px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    /* identical to box height */

    color: #E3E3E3;


}

.footer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 120px;
    gap: 64px;

    /*width: 100%;*/
    height: 192px;

    background: #1B1B1B;
}

.contacts {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
